[Unit]
Description=Sydent Matrix Identity Server

[Service]
Type=simple
User=matrix-sydent
WorkingDirectory=/var/lib/matrix-sydent
EnvironmentFile=/etc/default/matrix-sydent
ExecStart=/usr/bin/python -m sydent.sydent /etc/matrix-synapse/sydent.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
