name: Mypy
on:
  pull_request:
  push:
    branches: ["main"]
jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - run: python -m pip install -e .[dev]
      - run: mypy
        continue-on-error: true
